absl-py==0.9.0
arrow==0.15.5
astor==0.8.1
astroid==1.6.6
attrs==19.3.0
aws-lambda-builders==0.6.0
aws-sam-cli==0.38.0
aws-sam-translator==1.19.0
awscli==1.18.94
backcall==0.2.0
backports.weakref==1.0rc1
binaryornot==0.4.4
boto3==1.12.14
botocore==1.17.17
certifi==2019.11.28
chardet==3.0.4
chevron==0.13.1
click==7.1.2
colorama==0.4.3
cookiecutter==1.6.0
cycler==0.10.0
dateparser==0.7.2
docker==4.2.0
docutils==0.15.2
Flask==1.1.2
future==0.18.2
gast==0.3.3
git-remote-codecommit==1.13
google-pasta==0.2.0
grpcio==1.30.0
h5py==2.10.0
html5lib==0.9999999
idna==2.8
ikp3db==1.4.1
image==1.5.32
importlib-metadata==1.7.0
ipython==7.16.1
ipython-genutils==0.2.0
isort==5.0.4
itsdangerous==1.1.0
jedi==0.11.1
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.10.0
jsonschema==3.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.5.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
numpy==1.19.0
parso==0.1.1
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
poyo==0.5.0
prompt-toolkit==3.0.5
protobuf==3.12.2
ptyprocess==0.6.0
pyasn1==0.4.8
Pygments==2.6.1
pylint==1.8.1
pylint-django==0.8.0
pylint-flask==0.5
pylint-plugin-utils==0.6
pyparsing==2.4.7
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4
regex==2020.2.20
requests==2.22.0
rsa==3.4.2
s3transfer==0.3.3
scipy==0.19.0
serverlessrepo==0.1.9
six==1.15.0
stevedore==2.0.1
tensorboard==1.14.0
tensorflow>=1.15.2
tensorflow-estimator==1.14.0
termcolor==1.1.0
tomlkit==0.5.8
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.25.9
virtualenv==16.2.0
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==1.0.1
whichcraft==0.6.1
wrapt==1.12.1
zipp==3.1.0
